@layer components {
  .root {
    overflow: auto;
    max-height: 200px;
    min-height: 100px;
    margin: 0;
    padding: 0;
    overscroll-behavior: contain;
  }

  .entry {
    padding: 0.5rem 0.75rem;
    justify-content: space-between;
    align-items: center;
    display: grid;
    grid-template-columns: minmax(0, 1fr) 25px;
    gap: 0.75rem;

    + & {
      border-top: 1px solid
        color-mix(in oklab, var(--color-base-content) 5%, transparent);
    }
  }

  .title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .subTitle {
    margin-block-start: 0.125rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.75rem;
    opacity: 0.6;
  }

  .footer {
    margin-block-start: 1rem;
    display: flex;
    justify-content: space-between;
  }

  .feedback {
    text-align: center;
  }
}
