@layer components {
  .root {
    --tab-height: 2.5rem;
    --header-block-start: 0.25rem;
  }

  .header {
    display: flex;
    gap: 0.5rem;
    list-style: none;
    margin: 0;
    background-color: var(--tab-header-background);
    border-radius: var(--default-corner-radius);
    padding: var(--header-block-start) 1rem;
  }

  .tab {
    --state-tab-text: color-mix(
      in oklab,
      var(--tab-active-foreground) 50%,
      transparent
    );

    flex-wrap: wrap;
    height: var(--tab-height);
    justify-content: center;
    align-items: center;
    padding-inline: 1rem;
    font-size: .875rem;
    display: inline-flex;
    position: relative;
    color: var(--state-tab-text);
    border-radius: var(--default-corner-radius);
    background: var(--state-tab-background);
    outline: 0;
    cursor: pointer;
    transition: background 300ms var(--default-bezier-transition);

    &:hover {
      --state-tab-background: color-mix(
        in oklch,
        var(--tab-active-background) 50%,
        transparent
      );
    }

    &[aria-selected="true"] {
      --state-tab-text: var(--tab-active-foreground);
      --state-tab-background: var(--tab-active-background);

      --depth: 0;

      box-shadow: 0 1px oklch(100% 0 0 / calc(var(--depth) * 0.1)) inset, 0 1px
        1px -1px
        color-mix(
          in oklab,
          var(--color-neutral) calc(var(--depth) * 50%),
          #0000
        ), 0 1px 6px -4px
        color-mix(
          in oklab,
          var(--color-neutral) calc(var(--depth) * 100%),
          #0000
        );
    }
  }

  .panel:not(:empty) {
    padding-inline: 0.5rem;
    height: calc(
      100vh -
      (
        var(--header-height) +
        var(--tab-height) +
        calc(2 * var(--header-block-start))
      )
    );
    overflow: auto;
  }
}
