@layer reset, base, components;

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  body {
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin-block-end: 0;
  }

  body {
    min-height: 100vh;
    line-height: 1.5;
  }

  h1,
  h2,
  h3,
  h4,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  input,
  button,
  textarea,
  select {
    font-family: inherit;
    font-size: inherit;
  }
}

@layer base {
  :root {
    --default-font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

    --color-neutral-50: oklch(0.985 0 0);
    --color-neutral-100: oklch(0.97 0 0);
    --color-neutral-200: oklch(0.922 0 0);

    --color-base-content: oklch(0% 0 0);
    --color-primary: oklch(15.906% 0 0);

    --color-neutral: oklch(100% 0 0);

    --color-success: oklch(90.13% 0.153 164.14);
    --color-error: oklch(78.66% 0.15 28.47);

    --default-background-color: oklch(100% 0 0);

    --default-corner-radius: 0.35rem;

    --tab-header-background: var(--color-neutral-200);
    --tab-active-foreground: var(--color-base-content);
    --tab-active-background: var(--color-neutral);

    --button-default-border: var(--color-neutral-200);

    --button-default-background: var(--color-neutral-200);
    --button-background-success: var(--color-success);
    --button-background-danger: var(--color-error);

    --tooltip-background: var(--color-primary);
    --tooltip-content: var(--color-neutral);

    --default-bezier-transition: cubic-bezier(0.4, 0, 0.2, 1);

    --header-height: 6.5rem;

    font-family: var(--default-font-family);
    font-size: 16px;
    font-weight: 400;

    color: var(--color-base-content);
    background-color: var(--default-background-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
  }
}

@layer components {
  .button-footer {
    display: flex;
    gap: 1rem;
    margin: 1rem 0 0 2rem;
  }
}
