@layer components {
  .root {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    + & {
      border-top: 1px solid
        color-mix(in oklab, var(--color-base-content) 5%, transparent);
    }
  }

  .entrySelected {
    background: color-mix(in oklab, var(--color-base-content) 2%, transparent);
  }
}
