@layer components {
	.content {
		margin-block-end: 1rem;
	}

	.title {
		padding: 0.5rem 1rem;
		font-size: 1.125rem;
		font-weight: 500;
		border-bottom: 1px solid var(--color-neutral-300);
		transition: padding-inline-start .2s, background-color .2s;
		cursor: pointer;

		&:hover {
			background-color: var(--color-neutral-200);
		}

		:where(.root[open]) & {
			background-color: var(--color-neutral-200);
			padding-inline-start: 1.125rem;
		}

		&::-webkit-details-marker {
			display: none;
		}
	}

	.highlighted {
		background: var(--color-neutral-200);
	}
}
